# macOS
.DS_Store

# Gradle
.gradle/
build/

# IntelliJ
*.iml
.idea/

# Android Studio
local.properties
captures/
.externalNativeBuild/
.cxx/

# Visual Studio Code
.vscode/

# Logs
*.log

# Builds
app/release/
app/build/