<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:appCategory="video"
        android:hardwareAccelerated="true"
        android:label="YT Player"
        android:largeHeap="true"
        android:name=".Application"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Material.NoActionBar"
        tools:ignore="DataExtractionRules, MissingApplicationIcon">
        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>