<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:appCategory="audio"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_default"
        android:label="YT Player"
        android:largeHeap="true"
        android:name=".application.Application"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Material.NoActionBar"
        tools:ignore="DataExtractionRules">
        <service
            android:name=".player.Service"
            android:exported="true"
            android:stopWithTask="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
</manifest>